In [41]:
# Import libraries
import os
import boto3
import pandas as pd
import sys

In [46]:
# Get the S3 keys from config file
from config import aws_id, aws_secret

In [47]:
# Download the files from S3
s3 = boto3.client('s3', aws_access_key_id=aws_id, aws_secret_access_key=aws_secret)
s3.download_file('evanmcgee-projectbucket','week_1_provisional_database.csv','week_1_info.csv')

In [52]:
Turn the new excel file into a dataframe
beg_data = pd.read_csv('week_1_info.csv')
beg_data.head()

,District,State,Candidate,Terms of service,Party,Winner Spent,Receipts,Contributions \nfrom Individuals,Contributions\nfrom PACs and\nOther Committees,Contributions and\nLoans from \n the Candidate,...,Gini,Housing Units,Occupied Units,Occupied Percent,Own Occ Units,Own Occ Percent,Rent Occ Units,Rent Occ Percent,Vacant Units,Vacant Percent
0,AL01,AL,Bradley Byrne,3.0,Republican Party,831634,1001925.0,200182.0,742250.0,0.0,...,0,342612,272626,80,180163,53,92463,27,69986,20
1,AL01,AL,Robert Kennedy Jr.,NaN,Democratic Party,46845,133664.0,13664.0,0.0,120000.0,...,0,342612,272626,80,180163,53,92463,27,69986,20
2,AL02,AL,Martha Roby,NaN,Republican Party,2263208,2186213.0,718837.0,1381291.0,0.0,...,0,319106,254315,80,167745,53,86570,27,64791,20
3,AL02,AL,Tabitha Isner,NaN,Democratic Party,519145,240069.0,225790.0,0.0,14279.0,...,0,319106,254315,80,167745,53,86570,27,64791,20
4,AL03,AL,Mike D Rogers,NaN,Republican Party,1347846,959572.0,351192.0,598725.0,0.0,...,0,332603,264595,80,182223,55,82372,25,68008,20

In [53]:
beg_data.dtypes

District             object
State                object
Candidate            object
Terms of service    float64
Party                object
                     ...
Own Occ Percent       int64
Rent Occ Units        int64
Rent Occ Percent      int64
Vacant Units          int64
Vacant Percent        int64
Length: 105, dtype: object

In [56]:
# Creating dummy data
data_with_dummies = pd.get_dummies(beg_data, columns=["State","District","Party"])
data_with_dummies.head()

,Candidate,Terms of service,Winner Spent,Receipts,Contributions \nfrom Individuals,Contributions\nfrom PACs and\nOther Committees,Contributions and\nLoans from \n the Candidate,Disbursements,Cash On Hand,Debts,...,State_AL,District_AL01,District_AL02,District_AL03,District_AL04,District_AL05,District_AL06,District_AL07,Party_Democratic Party,Party_Republican Party
0,Bradley Byrne,3.0,831634,1001925.0,200182.0,742250.0,0.0,533325.0,914918.0,0.0,...,1,1,0,0,0,0,0,0,0,1
1,Robert Kennedy Jr.,NaN,46845,133664.0,13664.0,0.0,120000.0,17053.0,116611.0,120000.0,...,1,1,0,0,0,0,0,0,1,0
2,Martha Roby,NaN,2263208,2186213.0,718837.0,1381291.0,0.0,1500990.0,730674.0,0.0,...,1,0,1,0,0,0,0,0,0,1
3,Tabitha Isner,NaN,519145,240069.0,225790.0,0.0,14279.0,152635.0,87435.0,0.0,...,1,0,1,0,0,0,0,0,1,0
4,Mike D Rogers,NaN,1347846,959572.0,351192.0,598725.0,0.0,462189.0,1022931.0,0.0,...,1,0,0,1,0,0,0,0,0,1